<html>
  <head>
    <script src="/javascripts/events.js", type="text/javascript"></script>
    <script>
      Events.subscribe(function(event){
        console.log(event);
      });
    </script>
  </head>
  <body>
    There are <%= SocketServer.sockets.count %> sockets connected to this app instance.
  </body>
</html>
